<!DOCTYPE html>
<html>
<head>
    <title>Checagem de penalizações</title>
</head>
<body>
    <h1>Checagem de penalizações</h1>
    <form action="/processar" method="post">
        <label for="token">Token de Autorização:</label>
        <input type="text" id="token" name="token" style="width: 1200px;" required><br><br>
        <label for="data_inicio">Data de Início (DD/MM/YYYY):</label>
        <input type="text" id="data_inicio" name="data_inicio" required><br><br>
        <label for="data_fim">Data de Fim (DD/MM/YYYY):</label>
        <input type="text" id="data_fim" name="data_fim" required><br><br>
        <input type="submit" value="Processar">
    </form>
</body>
</html>
