<!DOCTYPE html>
<html>
<head>
    <title>Checagem de penalizações</title>
    <link rel="stylesheet" type="text/css" href="static/index.css">
</head>
<body>
    <img src="static/logo.png" alt="Logo" class="logo">
    <form action="/processar" method="post">
        <h1>Checagem de penalizações</h1>
        <label for="token">Token de Autorização:</label>
        <input type="text" id="token" name="token" required><br><br>
        <label for="data_inicio">Data de Início:</label>
        <input type="date" id="data_inicio" name="data_inicio" required><br><br>
        <label for="data_fim">Data de Fim:</label>
        <input type="date" id="data_fim" name="data_fim" required><br><br>
        <input type="submit" value="Processar">
    </form>
</body>
</html>
